<div class="row">
	<div class="well">
		<h1>Chest</h1>
		<p>3­4 warmup sets. Do not expend too much energy. Utilize this as a time to loosen up.</p>

		<p>*5x5 Bench Press (Utilize 3 to 5 minutes rest between sets – this keeps strength at its peak).</p>

		<p>Axillary work for fast twitch fibers:</p>

		<p>Choose 2 to 3 favorite chest exercises. Perform 3 sets of each at 12 to 15 reps. (Utilize only 60 to

		90 seconds rest here to engage fast twitch muscle fibers)</p>

		<p>Tricep 'explosion': 100 reps of a pull down exercise for triceps. (Find a weight you can only

		perform around 15 reps. Rest when needed. DO NOT let go of weight until all 100 reps are

		finalized.)</p>

		<p>Abs. Weighted. Ex: Weighted crunch. Rope crunches w/ weight.</p>

		<p>20 minutes low impact cardio.</p>
	</div>
</div>