<div class="row">
	<div class="well">
		<h1>Legs</h1>
		<p>3­4 warmup sets. Do not expend too much energy. Utilize this as a time to loosen up.</p>

		<p>*5x5 Squat (Utilize 3 to 5 minutes rest between sets – this keeps strength at its peak).</p>

		<p>Axillary work for fast twitch fibers:</p>

		<p>Choose 2 to 3 favorite leg exercises. Perform 3 sets of 12 to 15 reps. (Utilize only 60 to 90 seconds

		rest here to engage fast twitch muscle fibers)

		5 minute cardio warmup.</p>

		<p>HIIT: Full out sprint for 30 seconds, active rest for 1 minute. Repeat for 7 times that scheme.</p>

		<p>5 minute cardio cool down.</p>
	</div>
</div>